
#users{
  height: 400px;
  overflow-y: scroll;
}
#chatGeneral{
  height: 400px;
  overflow-y: scroll;
}
li{
  word-wrap: break-word;
}
#chats{
  width: auto;
  height: auto;
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}
